<br><hr>
<h3>My name's {{interpolation}}</h3>
<h4>Im a millenial, 1984 so, I am {{age}} on November.
  <br>
You can geolocate me at ~ google map here soon 
  ~<br>{{address.street}} {{address.city}} {{address.state}}

<div>
  Life is good, I like to...
  <ul *ngFor="let hobby of hobbies; let i = index">
    <li>-{{hobby}} <button (click)="deleteHobby(hobby)">X</button></li>
  </ul>
  <form (submit)="addHobby(hobby.value)">
    <input type="text" placeholder="add to my list" #hobby>{{addtoHobbyList}}
    <button>add</button>
  </form>
</div>

<hr>

<div>
  Click here to say hello! <button (click)="flashMessage()">hello!</button>
  <h4>{{sayHello}}</h4><span>{{visitors}}</span>
</div>
</h4>

