// about page styling
#cardPhoto1 {
  display: block !important;
  height: 20% !important;
}

#leaderPhoto {
  position: relative;
  height: 269px;
}

.card {
  margin-left: 1% !important;
}

.card .card-image img {
  display: block;
  border-radius: 2px 2px 0 0;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 41vh;
}

image {
  display: block;
  border-radius: 2px 2px 0 0;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 268px !important;
}

// on iphone6, shrink the cards
@media only screen and (max-width: 667px) {
  .card .card-image {
    position: static;
    display: block;
    width: 363px;
  }
  #cardPhoto1[_ngcontent-c1] {
    display: block !important;
    height: 40vh !important;
    width: 100%;
  }
  .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 42%;
  }
  .card {
    margin-left: 2% !important;
    margin-right: 2%;
    height: 65vh;
  }
  nav .brand-logo {
    left: 33% !important;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .card1 {
    position: relative;
    display: block;
    top: 2vh;
    left: 3%;
  }
  .cardContainer {
    position: relative;
    display: flex;
    width: 93%;
    margin: 3%;
    top: -25vh;
  }
  .row .col.s3 {
    position: relative;
    display: block;
    width: 100%;
  }
  .card .card-image .card-title {
    color: white;
    font-weight: 400;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 12vh;
    max-width: 100%;
    padding: 24px;
    top: 2vh;
    background-color: hsla(120, 90%, 38%, 0.199);
    border-radius: 2em;
    line-height: 16px;
  }
}
