//start video styles

.fullscreen-bg {
  opacity: 0.8;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  position: absolute;
  top: -2em;
  width: 135%;
  left: -13em;
  height: 106%;
}
