<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">


<div class="carousel">
  <a class="carousel-item" href="#one!">
    <img src="../../assets/images/leaf.jpg">
  </a>
  <a class="carousel-item" href="#two!">
    <img src="../../assets/images/leaf.jpg">
  </a>
  <a class="carousel-item" href="#three!">
    <img src="../../assets/images/leaf.jpg">
  </a>
  <a class="carousel-item" href="#four!">
    <img src="../../assets/images/leaf.jpg">
  </a>
  <a class="carousel-item" href="#five!">
    <img src="../../assets/images/leaf.jpg">
  </a>
</div>

<!-- <app-server></app-server> -->
<div class="app-server"></div>

