<h1>Statement of Faith</h1>
<p style="text-align:center">
  Section 3.1. We believe in the one true God, the Creator of heavens and earth, who is revealed
  in the Holy Bible (Exodus 3:14, 20:1-2, Deuteronomy 6:4, Isaiah 42:8, 43:11, 44:6) as Father,
  Son, and the Holy Spirit, three distinct persons in the Godhead. He is infinitely perfect,
  invisible, and immortal, the King of kings and the Lord of lords (I Timothy 6:15-16) and has
  revealed himself through the nation of Israel through its patriarchs and prophets (Hebrews 1:1-3)
  and most importantly through the person of Jesus Christ, the Son of God (John 1:1, 14).
  Section 3.2. We believe in Jesus Christ as true God and true man. He was conceived by the
  Holy Spirit and born of the Virgin Mary. He died upon the cross, the Just for the unjust, as a
  substitutionary sacrifice, and all who believe in Him are justified on the ground of His shed
  blood. He arose from the dead according to the Scriptures. He is now at the right hand of the
  Majesty on high as our great High Priest. He will come again to establish His Kingdom of
  righteousness and peace (Philippians 2:6-11, Luke 1:36-38, I Peter 3:18, Hebrews 2:9, Romans
  5:9, Acts 2:23-24, Hebrews 8:1, Matthew 26:64).
  Section 3.3. We believe in the Holy Spirit as a divine person, sent to indwell, guide, teach, and
  empower the believers of Christ (John 16:7-11). We believe in the baptism, infilling, and gifting
  of the Holy Spirit as a very crucial ministry of Christ and an essential promise of the Father
  (Matthew 3:11, 12:32, John 7:37-39, 14:16-19, 26, Acts 1:1-8, I Cor. 12:1-13, Rom. 1:11, I Cor.
  1:7, 14:1, Rom. 8:9, Gal. 5:22-26).
  Section 3.4. We believe in the Holy Bible, both the Old and New Testaments, inerrant as
  originally given, were verbally inspired by God and are a complete revelation of His will for the
  salvation of men. They constitute the divine and only rule of Christian faith and practice (II
  Peter 1:20-21, II timothy 3:15-16).
  Section 3.5. We believe in the new covenant in Christ (Hebrews 8:7-13) and that we are now
  under the law of Christ and the life in the Spirit which is the true righteousness of God (Romans
  8:1-4, I Corinthians 9:21), thus, we are no longer to submit to any religious traditions and sacred
  laws that are either opposed to or rendered obsolete in Christ.
  Section 3.6. We believe in the salvation provided through the redemptive and atoning work of
  Christ on the cross. We believe that it is objectively sufficient and complete as no more human
  efforts can be added to it but it is subjectively inefficient as it requires individual responses such
  as repentance, obedience, and faith in Christ (Acts 2:38, Mark 1:15, John 3:16, 5:24, 8:12,
  31,14:15).
  Section 3.7. We believe in the second coming of the Lord Jesus Christ at the end of the age
  (Hebrews 9:28, I Peter 1:3-5, I Pet. 1-9, I Thess. 5:9, Romans 13:11) where our salvation shall be
  revealed. This is the time of the gathering of the elect as all believers both dead and alive shall
  be changed to immortal and glorious bodies to meet the Lord in the air (John 5:28-29, I Cor.
  15:20-24, I Cor. 15:45-54, I Thess. 4:13-18). On the other hand, this is also the time of the

  revelation of the wrath of God as the Lord brings punishment to those who shall be left behind
  (II Thess. 1:5-10, I Thess. 5:9, Romans 1:18, 2:5-8, II Peter 3:10-13).
  Section 3.8. We believe that the local Church is a body of believers in Christ who are joined
  together for the purpose of Worship for a healthy relationship with God, of studying the Word
  for spiritual development, of doing and fulfilling our Works for service for building up one
  another and advancing the missions of the Church.</p>
