  // organization name and logo on iphone 6
  @media only screen and (max-width: 667px) {
    nav .brand-logo {
      position: absolute;
      color: #fff;
      display: inline-block;
      font-size: 1.1rem;
      padding: 0;
    }
  }
