<!--The content below is only a placeholder and can be replaced.-->

<nav class="teal" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="#" class="brand-logo">
      LifeZone Triangle
    </a>
    <ul class="right hide-on-med-and-down">
      <li>
        <a routerLink="/">Home</a>
      </li>
      <li>
        <a routerLink="/about">About</a>
      </li>
      <li>
        <a routerLink="/events">Events</a>
      </li>
      <li>
        <a routerLink="/traversy">Blogs</a>
      </li>
    </ul>

    <ul id="nav-mobile" class="sidenav">
      <li>
        <a href="#">Navbar Link</a>
      </li>
    </ul>
    <a href="#" data-target="nav-mobile" class="sidenav-trigger" (click)="toggle()">
      <i class="material-icons">menu</i>
    </a>
    <!-- hide this, and show it on dropdown button click function -->
    <ul [hidden]="hideShow" id="thisList">
      <li>
        <a routerLink="/">Home</a>
      </li>
      <li>
        <a routerLink="/about">About</a>
      </li>
      <li>
        <a routerLink="/events">Events</a>
      </li>
      <li>
        <a routerLink="/traversy">Blogs</a>
      </li>
    </ul>
  </div>
</nav>

<!--  -->


<!-- left blank - BODY GOES HERE -->


<!--  -->



<!-- 👇🏼 this code here where the nav lives, to allow switching between routerLinks -->
<router-outlet></router-outlet>
