nav ul a,
nav .brand-logo {
  color: white;
}

/* Custom Stylesheet */

/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width: 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width: 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.parallax-container .parallax img {
  opacity: 1;
  position: absolute;
  left: 50%;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

//image logo
#lifeZoneLogo {
  height: 10vh;
  width: 29%;
  position: relative;
  float: left;
  display: block;
  left: 7%;
  top: 0vh;
}

// organization name
.teal-text.text-lighten-2 {
  color: #085851 !important;
  font-size: 49px !important;
}

// organization name and logo on iphone 6
@media only screen and (max-width: 667px) {
  //banner
  .teal-text.text-lighten-2 {
    color: #085851 !important;
    font-size: 49px !important;
    visibility: hidden;
  }
  #lifeZoneLogo {
    height: 30vh;
    width: 130%;
    position: relative;
    float: left;
    display: block;
    left: 7%;
    top: 2vh;
  }
  .slogan {
    position: relative !important;
    top: -2vh !important;
    left: 20% !important;
  }
}

// font-color on the page
.row .col.s12 {
  width: 100%;
  margin-left: auto;
  left: auto;
  right: auto;
  color: teal;
}
// about page styling
#cardPhoto1 {
  display: block !important;
  height: 20% !important;
}

.card {
  margin-left: 1% !important;
}

// on iphone6, shrink the cards
@media only screen and (max-width: 667px) {
  // row that holds all three cols
  .row[_ngcontent-c1] {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
    /* flex-wrap: wrap; */
    display: inline-block;
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 42%;
  } // logo
  .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 42%;
  } //banner
  .row .col.s3 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .card[_ngcontent-c1] {
    margin-left: 2% !important;
    margin-right: 2%;
  } //logo
  #lifeZoneLogo {
    height: 30vh;
    width: 130%;
    position: relative;
    float: left;
    display: block;
    left: 9%;
    top: 2vh;
  } //logo container
  nav .brand-logo {
    left: 33% !important;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}
