<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Data Binding</h1>
    <p class="lead">Below is an art work of data binding, where components handles functionality and controls the DOM. Two-way binding also
      is at work as both DOM and Component talks to each other and creates changes as user interact with the page. This is
      demonstrated by the input field.
    </p>
    <p class="lead">
      The buttons are controlling the images using property binding, another one way binding. The button tag uses an event listener
      (on click) and calls a function declared inside the component.ts file.
    </p>
    <p>
      (click) Handlers are implemented to listen to changes and are defined with a function that hides the other button via boolean.
      Moreover, we have used structural directives *ngIf (for switching a boolean from true to false and vice versa) and
      *ngFor (looping through array defined in the component).
    </p>
  </div>
</div>


<!-- cards here with three columns -->
<div class="row">
  <div class="col-4">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="{{imageHappy1}}" alt="Card image cap">
      <button href="#" class="btn btn-danger" (click)="normalize()" *ngIf="showBtnAnger">Angrify</button>
      <button href="#" class="btn btn-primary" (click)="happify()" *ngIf="showBtn">Happify</button>
      <div class="card-body">
        <h5 class="card-title">{{player1}}</h5>
        <hr>
        <input type="text" class="form-control" [(ngModel)]="characterInfo1" placeholder="{{player1}} is...">
        <br>
        <!-- use of structural directive using *ngFor -->
        <ul *ngFor="let skill of getSkills">
          <!-- use of attribute directives using [ngClass] -->
          <li [ngClass]="{'text-warning': skill === 'funny'}">-{{skill}}</li>
        </ul>
        <hr>
        <button type="sumbit" class="btn btn-primary" [disabled]="!characterInfo1" (click)="addInfo1()">submit</button>
        <p class="card-text">
          Name above is displayed via one way binding using `interpolation`. Check the code under hero.component.ts and hero.component.html.
        </p>
        <hr>
        <p>
          The `angrify` button will change the image. This is done with two-way binding [(ngModel)].
        </p>

      </div>
    </div>
  </div>

  <div class="col-4">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="{{imageHappy2}}" alt="Card image cap">
      <button href="#" class="btn btn-danger" (click)="normalize2()" *ngIf="showBtnAnger2">Angrify</button>
      <button href="#" class="btn btn-primary" (click)="happify2()" *ngIf="showBtn2">Happify</button>

      <div class="card-body">
        <h5 class="card-title">{{player2}}</h5>
        <hr>
        <input type="text" class="form-control" [(ngModel)]="characterInfo2" placeholder="{{player2}} is...">
        <br>
        <ul *ngFor="let trait of getTraits">
          <!-- basically here, trait is defined and is iterating through getTraits [] -->
          <li [ngStyle]="{'color': trait === 'grumpy' ? '#9ecbbc' : 'black' }">-{{trait}}</li>
        </ul>
        <hr>
        <button type="sumbit" class="btn btn-primary" [disabled]="!characterInfo2" (click)="addInfo2()">submit</button>
        <p class="card-text">
          The input field is using `[(ngModel)]="variable"` then the variable is used in the component.ts to print the user input in
          li tag.
        </p>
        <hr>
        <p>
          The list of traits for SquidWord is done through `service` thats sole purpose is to list traits. To do this, first create
          a service file using CLI or manually. Then, in the service file, define your class that will have a method that
          sole purpose is to have an array of values. Next, in the app.module file, you need to import this and declare it
          in the provider metadata. You can have multiple providers. So, place this class name inside an array when declaring
          it as a provider. Go back to the component files that need access to this service. Import it on the top of the
          file. Then, define the variable that will instantiate the class inside ngOnInit() life-cycle hook.
        </p>
        <hr>
        <p>
          The font color here, is changed using attribute binding [ngStyle]. SpongeBobs "funny" trait is changed to yellow using [ngClass]
          for bootstrap (text-warning).
        </p>
      </div>
    </div>
  </div>

  <div class="col-4">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="{{imageHappy3}}" alt="Card image cap">
      <button href="#" class="btn btn-danger" (click)="normalize3()" *ngIf="showBtnAnger3">Angrify</button>
      <button href="#" class="btn btn-primary" (click)="happify3()" *ngIf="showBtn3">Happify</button>

      <div class="card-body">
        <h5 class="card-title">{{player3}}</h5>
        <hr>
        <input type="text" class="form-control" [(ngModel)]="characterInfo3" placeholder="{{player3}} is...">
        <br>
        <ul *ngFor="let thing of getThings">
          <li [ngStyle]="{'color': thing === 'super friendly' ? '#f9542d' : '#1f4576'}">-{{thing}}</li>
        </ul>
        <hr>
        <button type="sumbit" class="btn btn-primary" [disabled]="!characterInfo3" (click)="addInfo3()">submit</button>
        <p class="card-text">
          There are two types of directives.
          <u>Structural</u> and
          <u>attribute directives.</u>
          <br> Structural directives are ones that changes the structure of the DOM (e.g adds or changes texts, images, delete
          divs, list values from an array etc..). `*ngIf="variable"` is an example defined in the DOM and the variable manipulated
          through javascript logic done in the component. `*ngFor="let var of vars"` where var is variable and vars = an
          array of values, allows for iterating through values in an array and dsiplaying it in the DOM.
        </p>
      </div>
    </div>
  </div>
</div>