.slogan {
  display: block;
  top: 19vh;
}

nav ul a,
nav .brand-logo {
  color: white;
}

/* Custom Stylesheet */

/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
  width: 100%;
}

#lifeZoneLogo {
  height: 25vh;
  width: 50%;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  left: 96%;
  top: 0vh;
}

@media only screen and (max-width: 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width: 667px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.parallax-container .parallax img {
  opacity: 1;
  position: absolute;
  left: 50%;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

#lifeZoneLogo {
  height: 25vh;
  width: 50%;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  left: 100% !important;
  top: -1vh !important;
}

// organization name
.teal-text.text-lighten-2 {
  color: #085851 !important;
  font-size: 49px !important;
}

// organization name and logo on iphone 6
@media only screen and (max-width: 667px) {
  //banner
  .teal-text.text-lighten-2 {
    color: #085851 !important;
    font-size: 49px !important;
    visibility: hidden;
  }
  #lifeZoneLogo {
    height: 30vh;
    width: 66%;
    position: relative;
    float: left;
    display: block;
    left: 31% !important;
    top: -23vh !important;
  }
  .slogan {
    position: relative !important;
    top: -30vh !important;
    left: 18% !important;
  }
}

// font-color on the page
.row .col.s12 {
  width: 100%;
  margin-left: auto;
  left: auto;
  right: auto;
  color: teal;
}
