<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br>
      <br>
      <!-- <h1 class="header center teal-text text-lighten-2">LifeZone Triangle</h1> -->
      <div class="row center">
        <a id="logo-container" href="#" class="brand-logo">
          <!-- LOGO IMAGE -->
          <img id="lifeZoneLogo" src="../../assets/images/LifeZoneLogo.PNG" alt="lifeZoneLogo">
        </a>
        <h5 class="header col s12 light slogan">Living Life to the Fullest</h5>
      </div>
      <!-- <div class="row center">
          <a href="http://facebook.com" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Know More</a>
        </div> -->
      <br>
      <br>

    </div>
  </div>
  <div class="parallax">
    <img src="../../assets/images/leaf.jpg" alt="leaf">
  </div>
</div>


<div class="container-fluid">
  <div class="section contentBlock">

    <!--   Icon Section   -->
    <!-- <div class="row">
      <div class="col s12 m12">
        <div class="icon-block">
          <h2 class="center brown-text"> -->
    <!-- <i class="material-icons">book</i> -->
    <!-- </h2> -->
    <!-- <h5 class="center">November 2018 Series</h5> -->
    <!-- </div>
      </div>
    </div> -->

    <div class="row">
      <div class="col-md-6">
        <h5 class="center" style="font-weight: 900;color: #0196888f;">November 2018 Series</h5>
        <img class="text-center" style="height: 300px;  width: 100%" src="../../assets/images/HisReturn.jpg" alt="lifeZoneLogo">

        <p class="light" style="font-size: 17px;text-align:justify;">Based on Acts 1:11, Pastor Noel S. De Asis aims to
          equip and encourage the church with many
          biblical
          facts about the second coming of the Lord Jesus Christ. This is our blessed hope. This is the anchor that
          holds us so
          strong in our faith. This is the promise that brings us hope. Do not miss this series as we learn more of the
          signs
          and the purposes of His return.</p>
      </div>
      <div class="col-md-6">
        <h5 class="center" style="font-weight: 900;color: #0196888f;">This Week's Message</h5>
        <img class="text-center" style="height: 300px;  width: 100%" src="../../assets/images/RealisRare.jpg" alt="lifeZoneLogo">

        <p class="light" style="font-size: 17px;text-align:justify;">
          Based on Acts 1:12-26, Pastor Noel S. De Asis aims to equip and encourage the church with this segment in
          Acts 1 on the
          replacement of Judas Iscariot as one of the original twelve apostles. This is a very dramatic yet
          life-changing series
          as Jesus prayed hard to choose the twelve and his extended grace to Judas Iscariot. Do not miss this series
          as we learn
          more from the story of Judas and how we can apply them to our own journey of faith and relationship with our
          Savior.
        </p>
      </div>
    </div>

  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
      </div>
    </div>
  </div>
  <div class="parallax">
    <img src="../../assets/images/secondImage.jpg" alt="leaf">
  </div>
</div>

<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12 center">
        <h3>
          <i class="mdi-content-send brown-text"></i>
        </h3>
        <h4>Contact Us</h4>
        <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc
          nec volutpat. Etiam pellentesque
          tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a
          sapien
          id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam
          eleifend
          sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum
          sed
          ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum
          primis
          in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
      </div>
    </div>

  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
      </div>
    </div>
  </div>
  <div class="parallax">
    <img src="../../assets/images/praying.jpg" alt="leaf">
  </div>
</div>
