.slogan {
  display: block;
  top: 19vh;
}

nav ul a,
nav .brand-logo {
  color: white;
}

/* Custom Stylesheet */

/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
  width: 100%;
}

.slogan {
  position: relative !important;
  top: 17vh !important;
  left: 5% !important;
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.parallax-container .parallax img {
  opacity: 1;
  position: absolute;
  left: 50%;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

#lifeZoneLogo {
  height: 25vh;
  width: 63%;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  left: 85% !important;
  top: -1vh !important;
}

// organization name
.teal-text.text-lighten-2 {
  color: #085851 !important;
  font-size: 49px !important;
}

// font-color on the page
.row .col.s12 {
  width: 100%;
  margin-left: auto;
  left: auto;
  right: auto;
  color: teal;
}

// media queries
@media only screen and (max-width: 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width: 667px) {
  #index-banner .section {
    top: 0;
  } //banner
  .teal-text.text-lighten-2 {
    color: #085851 !important;
    font-size: 49px !important;
    visibility: hidden;
  }
  .slogan {
    position: relative !important;
    top: -1vh !important;
    left: 19% !important;
  }
  .section {
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: relative;
    top: -21vh;
  }
  #lifeZoneLogo {
    height: 25vh;
    width: 85%;
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    left: 85% !important;
    top: -1vh !important;
  } //contentblock
  .contentBlock {
    position: relative;
    top: -4vh;
  }
  .section[_ngcontent-c1] {
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: relative;
    top: -1vh;
  }
  .row {
    width: 100%;
    margin-left: 4%; //pushes each content on single rows
    position: relative;
    left: auto;
    right: auto;
    color: teal;
    display: inline-block;
  }
}
